	
		<h1>Registro Diario (Web)</h1>
		<h2>Control y seguimiento geográfico de la operación en puntos de venta</h2>
		<h3>Web</h3>
		<h6>- Administradores Realice mantenimiento de la información básica</h6>
		<h6>- Directivos, consulte la gestión de visitas y ventas</h6>
		<h6>- Representantes, programe las visitas del 	mes</h6>
		<h3>Acceso Móbil</h3>
		<h6>Para Representantes, mercaderistas y promotores </h6>
		<h6>- Regìstro entrada y salidas a los puntos de visita</h6>
		<h6>- Registro de ventas en los puntos de visita</h6>



