
<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @region.user.name %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
