<!DOCTYPE html>
<html>
<head>
  <title>Es</title>
  <%= stylesheet_link_tag    'inventario', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'inventario', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
