<footer class="footer">
  <div id="fcontainer" class="container">
  <small>
    <a href="http://www.nanducho.com/"> The Apps for Web & Mobile by 
    Nanducho <img alt="Logo Nanducho" src="/images/logo_nanducho.png" /> 
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://nanducho.com/ndchterminos.html' %></li>      
      <li><%= link_to "Contact", 'http://nanducho.com/html-contact-form.php' %></li>
      <li><a href="https://twitter.com/nanduchocom">Twitter @Nanducho</a></li>        
    </ul>
  </nav>
  </div>
</footer>
